html { font-size: 16px;}
body { font-family: "Segoe UI", Arial, sans-serif; }

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

a { 
    color: blue;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}

.aprovado b{
    color: green;
    font-weight: bold;
}

.reprovado b {
    color: red;
    font-weight: bold;
}

.inserir p {
    font-weight: bold;
}

.lista-alunos a {
    display: flex;
    
    justify-content:flex-start;
}


h2 a { font-size: 0.9rem;}

a:hover, a:focus { text-decoration: underline;}


